In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
errors =  pd.read_csv('data/PdM_errors.csv')
failures =  pd.read_csv('data/PdM_failures.csv')
machines =  pd.read_csv('data/PdM_machines.csv')
maint =  pd.read_csv('data/PdM_maint.csv')
telemetry =  pd.read_csv('data/PdM_telemetry.csv')
errors.head()

              datetime  machineID errorID
0  2015-01-03 07:00:00          1  error1
1  2015-01-03 20:00:00          1  error3
2  2015-01-04 06:00:00          1  error5
3  2015-01-10 15:00:00          1  error4
4  2015-01-22 10:00:00          1  error4